* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: black;
  background: rgb(216, 214, 214);
}
.container {
  width: 400px;
  margin: 50px auto;
  background-color: rgb(135, 153, 135);
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  >.content{
    height: min-content;
    >label{
      font-size: 22px;
      font-weight: 500;
    }
    >select{
      border-radius: 10px;
      margin: 10px;
      height: 30px;
      >option{
        background-color: rgb(165, 167, 167);
      }
    }
    >input{
      font-size: 18px;
      font-weight: 400;
      width: 100%;
      border-radius: 5px;
      padding: 5px;
      margin-bottom: 10px;
    }
    >select:focus,>input:focus{
      outline: none;
    }
  }
}
>div{
  >a{
    text-align: 15px;
    border-radius: 5px;
    background-color: gray;
    text-decoration: none;
    color: rgb(21, 148, 233);
    padding: 10px;
    margin: 15px;
  }
}
